---
import MainGridLayout from "@layouts/MainGridLayout.astro";
import ForumHeader from "@components/forum/ForumHeader.svelte";
import PostList from "@components/forum/PostList.svelte";
---

<MainGridLayout title="论坛">
  <div class="card-base p-6 md:p-8">
    <ForumHeader client:only="svelte" />
    <PostList client:only="svelte" />
  </div>
</MainGridLayout>
