---
import MainGridLayout from "@layouts/MainGridLayout.astro";  
---

<MainGridLayout title="日志">
    <div class="card-base p-6 md:p-8">
        <h1 class="text-2xl font-bold text-black dark:text-white mb-6">日志</h1>

        <ul class="text-sm text-black/60 dark:text-white/60 mb-4">
            <li><strong>2026-01-26</strong>: <br>该页面已废弃</li>
            <li><strong>2026-01-25</strong>: <br>修改部分链接,修复文章链接问题，快过年了，嘻嘻！</li>
            <li><strong>2026-01-24</strong>: <br>修改站点图标。</li>
            <li><strong>2026-01-23</strong>: <br>修改图床以及背景图片链接。</li>
            <li><strong>2026-01-22</strong>: <br>增加about页面,优化部分文章文本。</li>
            <li><strong>2026-01-21</strong>: <br>修改赞助页和联系方式,取消文章置顶,修改umami站点链接。</li>
            <li><strong>2026-01-20</strong>: <br>从Mizuki转移至Fuwari</li>
        </ul>
    </div>
</MainGridLayout>

<style>
  .card-base {
    word-break: break-word; 
    max-width: 100%; 
    padding: 1.5rem; 
  }

  .card-base ul li {
    margin-bottom: 1rem; 
  }
</style>